.background {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-grow: 1;
  gap: 3rem;
  padding: 4rem 0;
  max-width: 1024px;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.titleSection {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0 1rem;
}
.title1 {

}
.title2 {

}
.title3 {

}
.downloadSection {

}
.iosDownload {

}
.imageSection {
flex: 1;
}
.imageContainer {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.image1Box {
  position: relative;
}

.image1Box:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 500px;
  width: 500px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ff3e66;
  border-radius: 50%;
  z-index: -1;
}

.image1 {
  max-width: 300px;
}
.image2Box {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: end;
}
.image2 {
  max-width: 140px;
  border-radius: 10px;
}