.background {
  display: flex;
  justify-content: center;
  background: rgba(56, 56, 56, 1);
  color: rgba(255, 255, 255, 1);
  padding: 3rem 0;
}
.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 1024px;
  gap: 1rem;
}
.policiesBox {
  display: flex;
  gap: 1rem;
}
.labelBox {

}
.prescriptionBox {

}